*{
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
 
}

/* body.swal2-height-auto {
  height: 100% !important
} */

#root{
  height: 100%;
  margin: 0;
 
}


